<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>
<div class="container text-center">
    <h2 style="color: #35cc15; margin: 50px;">You have Register Successfully!</h2>
    <p style="font-size: large;color: #53b62f;">Welcome to TwinDragon International. . .</p>
    <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>

</body>
</html>