<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact Send</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
  .footer {
    position: absolute;
    font-size: small;
    bottom: 0;
    width:100%;
    height: 40px;
    background-color: #2d2d2d;
    text-align: center;
    color: white;
  }
</style>
<body style="background-color: #1c1c1c;">
<div class="container-fluid">
  <div class="text-center">
    <h2 style="color: black;margin-top: 50px;"> Contact Us</h2>
    <p style="color: #e1dddb;" class="text-center mx-auto mb-5">Do you have any questions? please do not hesitate to contact us directly. Our team will come back to you
    within a matter of hours to help you.</p>
  </div>
  <form th:action="@{/contact/save}" th:object="${contact}"
        method="post" style="max-width: 600px; margin: 0 auto;">


    <div class="m-3">
      <div class="form-group row">
        <label style="color: #e1dddb;" class="col-4 col-form-label">yourName</label>
        <div class="col-8">
          <input type="text" th:field="*{yourName}" class="form-control" minlength="3" maxlength="30" required />
        </div>
      </div>

      <div class="form-group row">
        <label style="color: #e1dddb;" class="col-4 col-form-label">Email</label>
        <div class="col-8">
          <input type="email" th:field="*{email}" class="form-control"
                 required minlength="3" maxlength="25"/>
        </div>
      </div>

      <div class="form-group row">
        <label style="color: #e1dddb;" class="col-4 col-form-label">Subject</label>
        <div class="col-8">
          <input type="text" th:field="*{subject}" class="form-control"
                 required  maxlength="40"/>
        </div>
      </div>

      <div class="form-group row">
        <label style="color: #e1dddb;" class="col-sm-4 col-form-label">Message</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{message}" class="form-control"/>
        </div>
      </div>

      <hr>
      <div class="text-center">
        <button type="submit" class="btn btn-info">Send</button>
        <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>
<hr>
<div style="font-size: small; color: #787879;" class="text-center">
  <ul class="list-unstyled mb-0">
    <li><i class="fas fa-map-marker-alt fa-2x"></i>
    <p>Joseph Crypto, JC Developer, MM</p>
    </li>

    <li><i class="fas fa-phone mt-4 fa-2x"></i>
      <p> +95 9428-316-117</p>
    </li>

    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
      <p>justgivemegame@gmail.com</p>
      <p>Keep your business with us is the best choose!</p>
    </li>
  </ul>
</div>

<div>
  <footer class="footer">
    <span class="text-muted">Power By 2021 @Joseph Crypto </span>
  </footer>
</div>
</body>
<script type="text/javascript">
  function cancelForm(){
    window.location = "[[@{/employee/list}]]"
  }
</script>
</html>