<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登錄首頁</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>

    <style>
        #message {
            color: red;
            width: 100%;
            text-align: center;
        }
        #form {
            margin: 10vh auto;
        }
    </style>
    <script>
        function sendajax() {
            var formdatas = $("#form input, #form select").serializeArray();

            var data = {};
            $( formdatas ).each(function (index, obj){
               data[obj.name] = obj.value;
            });
            console.log(data);

            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/api/validateLogin',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (json) {
                    console.log(json);
                    $("#message").html(json.message);
                    if (json.code == "1") {
                        window.location = "/home";
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('request failed: ' + textStatus);
                    $("#message").html('request failed: ' + textStatus);
                }
            });
        }

        $(function () {
            $('#login').click(function () {
            sendajax();
            });
        });
    </script>
</head>
<body>
<div class="container">
    <section id="form" class="col-6">
        <div class="text-center">
        <img th:src="@{/img/logo.png}" height="45" alt="logo">
        </div>
        <h3 id="message" style="text-align: center;color: black">員工管理應用</h3>
        <div class="form-group">
            <label for="username">用戶名:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="用戶名">
        </div>
        <div class="form-group">
            <label for="password">密碼:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密碼">
        </div>
        <button id="login" class="btn btn-primary">登錄</button>
    </section>
</div>
</body>
</html>